<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Tests Suite" parallel="methods" thread-count="2">

    <test name="UI Tests">
        <classes>
            <class name="uitests.RegisterTest"/>
            <class name="uitests.SignupTest"/>
            <class name="uitests.RegwexistingTest"/>
            <class name="uitests.ContactusTest"/>
            <class name="uitests.TestcaseTest"/>
            <class name="uitests.LogoutTest"/>
            <class name="uitests.DeleteAccountTest"/>
            <class name="uitests.CartSubscriptionTest"/>
            <class name="uitests.HomeSubscriptionTest"/>
            <class name="uitests.ProductsVerificationTest"/>
        </classes>
    </test>

</suite>
